@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	.menu
		display: none
		position: fixed
		top: 56px
		background: #fff
		width: 100%
		z-index: 100
		margin: 0
		padding: 0
		li
			display: block
			text-align: center
			padding: 0
			a
				color: $text
				padding: 10px 0
				display: block
	.mobile-hidden
		display: none
	.mobile
		display: inline-block
		float: right
	.block-description
		font-size: 18px
		padding: 10px
	.menuToggle
		display: block
		position: fixed
		width: 100%
		padding-left: 20px
		margin: 0
		padding: 10px
		top: 0
		background: #fff
		z-index: 100
		font-size: 22px
		text-align: left
		font-weight: bold
		box-shadow: 0px 1px 5px 0px gray
		.fa-bars
			margin-right: 10px
	.info
		margin-top: 50px
	.logo-img
		display: none
	.header
		.mobile-hidden
			display: none
	.call-phone
		margin-top: 50px
		text-align: left
	.text-sale
		font-size: 36px
		span
			font-size: 36px
	.middle-label
		font-size: 24px
	.title
		line-height: 1
		font-size: 36px
		&::before
			top: -10px
			left: 38%
	.subtitle
		line-height: 1
	.advent
		padding: 40px 0
		.item
			margin-top: 15px
	.sub-service-list
		font-size: 16px
	.feedback
		.item-wrapper
			margin: 0 0 20px 0
		.item
			padding: 0
	.request
		background: url(../img/scale.png) no-repeat bottom, url(../img/bg3.jpg) no-repeat	
	.middle
		background: url(../img/23.png) no-repeat center
	.owl-nav
		text-align: center
		.owl-prev, .owl-next
			margin: 0 20px
			position: relative
			bottom: 0
		.owl-prev
			left: 0
		.owl-next
			right: 0
	.footer
		.info
			margin-top: 0
			text-align: left
	.Phone
	  font-size: 70px
// ≥768px
+media-breakpoint-down(sm)
	.call-phone
		margin-top: 10px
// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
