@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'fira'
	overflow-x: hidden
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
a
	color: $text
a:hover
	text-decoration: none
	color: $accent-color
b, strong
	font-weight: bold
p
	margin: 0
	padding: 0
ul
	margin: 0
	padding: 0
	list-style-type: none
	li
		margin: 0
		padding: 0
.hidden
	display: none
.accent-font
	font-family: "russo"
.accent-color
	color: $accent-color
.green-color
	color: $green-color
.white-color
	color: #fff
.blue-color
	color: #1437AD
.text-color
	color: $text
.text-right
	text-align: right
.accent-border-left
	border-left: 4px solid $accent-color
.green-border-left
	border-left: 15px solid $green-color
.logo-text
	font-size: 40px
	line-height: 1
.logo-img
	position: absolute
	left: -130px
	width: 120px
.logo
	position: relative
.header
	background: #fff
	box-shadow: 5px 0px 1px 0px #000
	padding: 35px 0 10px 0
	color: $text
.top-line-font
	font-size: 18px
	font-weight: bold
	color: #585858
.info
	padding-left: 15px
	font-weight: bold
.call-phone
	text-align: right
	line-height: 1
	font-size: 30px
.menu
	padding-top: 30px
	text-align: center
	font-size: 18px
	font-weight: bold
	text-transform: uppercase
	li
		display: inline-block
		padding-left: 30px
		&:first-child
			padding-left: 0px
.middle
	padding: 90px 0
	line-height: 1
	background: url(../img/bg1.png) no-repeat, url(../img/23.png) no-repeat center
	.btn
		margin-left: 30px
.text-sale
	font-size: 60px
	color: #fff
	line-height: .8
	font-weight: normal
	padding-left: 20px
	margin-bottom: 20px
	span
		line-height: 1
		text-transform: uppercase
		font-size: 72px
		font-weight: bold

.middle-label
	padding: 30px
	color: #fff
	font-size: 35px
	font-weight: bold
.callback
	padding: 50px
	background: #fff
	text-align: center
	max-width: 420px
	margin: auto
	.input-phone
		font-weight: bold
		text-align: center
		border: 1px solid $green-color
		width: 100%
		padding: 15px 0px
		font-size: 24px
		&:focus
			box-shadow: 0px 0px 1px 1px $green-color inset
	.btn
		width: 100%
	.label
		color: $text
		font-size: 24px
		line-height: 1
.btn
	background: $green-color
	width: 300px
	color: #fff
	display: block
	font-size: 24px
	font-weight: bold
	padding: 15px 50px
	border: none
	&:hover
		color: #fff
		cursor: pointer
		background: $accent-color

.block
	padding: 40px 0
	position: relative
.title
	color: $text
	font-size: 48px
	font-family: "russo"
	text-align: center
	position: relative
	&::before
		content: ""
		position: absolute
		display: inline-block
		width: 100px
		margin-right: -50px
		top: -10px
		height: 10px
		right: 50%
		background: $accent-color
.subtitle
	color: $accent-color
	font-size: 24px
	font-weight: bold
	text-align: center
	padding-bottom: 20px
.service-item-green
	box-shadow: 20px 40px 0px 10px $green-color
.service-item-accent
	box-shadow: 20px 40px 0px 10px $accent-color
.two-item-wrapper
	margin-bottom: 20px
.service-item
	min-height: 360px
	margin-bottom: 20px
	display: block
	padding: 50px
	position: relative
	background: linear-gradient(to left, #dcd4d1 0%,#ffffff 100%)
.service-name
	text-transform: uppercase
	font-size: 36px
	font-weight: bold
	text-shadow: 0 1px 0px $text
	line-height: 1
	padding-bottom: 20px
.sub-service-list
	font-weight: bold
	font-size: 20px
	li:last-child
		font-weight: bold
		font-size: 1.17em
.sub-service
	font-weight: bold
	color: $accent-color
	font-size: 27px
.block-description
	padding: 0 10px 10px 10px
	font-size: 18px
	line-height: 1.3
	text-align: left
	padding: 20px 50px
	color: $text
	text-indent: 10px
	p
		padding-bottom: 10px
	ul
		padding: 10px 20px
		margin: 10px 0
.block-description .ask
	color: $green-color
	font-size: 24px
	padding-bottom: 0px
	font-weight: bold
	padding-top: 5px
.block-description .answer
	padding: 0px 0 30px 20px
.price
	padding: 10px
	color: $accent-color
.service
	.col-md-6, .col-md-12
		padding: 0
.advent
	padding: 0px 0px 90px 0
	background: url(../img/bg2.jpg) no-repeat
	background-size: cover
	background-attachment: fixed
	font-weight: bold
	font-size: 24px
	line-height: 1
	box-shadow: 1px 1px 0 999px rgba(250, 158, 61, .7) inset
	span
		text-transform: uppercase
		font-size: 30px
	.item
		padding-left: 15px
		margin-top: 90px
.feedback
	font-weight: bold
	line-height: 1
	.fa-star
		color: $accent-color
	.item
		text-align: left
		padding: 50px 100px
	.item-wrapper
		padding-left: 40px
		margin-top: 40px
	.title-name
		font-size: 24px
		display: inline-block
		padding-left: 10px
	.subtitle-date
		display: block
		font-size: 18px
	.review
		padding-top: 20px
		color: $text
.owl-carousel .owl-item .feedback-avatar
	width: 70px
	display: inline-block
.ourworks
	.item
		text-align: center
		height: 300px
		line-height: 300px
		//padding: 100px 50px
		font-size: 20px
		font-weight: bold
		border-bottom: 10px solid $green-color
		text-transform: uppercase
		transition: transform 0.3s ease-out 0.1s
		&:hover
			transform: scale(1.1)
			cursor: pointer
			border-bottom: 10px solid $accent-color
			
.request
	padding: 50px 0
	background: url(../img/scale.png) no-repeat bottom, url(../img/bg1.png) no-repeat, url(../img/bg3.jpg) no-repeat center	
.owl-nav
	color: $accent-color
	font-size: 3em
	.owl-prev, .owl-next
		margin: 0 20px
		position: absolute
		top: 40%
	&:hover
		color: $green-color
	.owl-prev
		left: -70px
	.owl-next
		right: -70px
.footer
	padding: 30px 0
	background: $text
	line-height: 1
	color: rgba(255, 255, 255, .7)
	ul
		li:first-child
			font-weight: bold
			padding-bottom: 10px
		li:last-child
			font-weight: bold
			padding-top: 10px
	.call-phone
		.top-line-font
			color: #fff
	.info
		border: none
		text-align: right
.fixed
	position: fixed
	top: -5px
	z-index: 99
	background: #fff
	width: 100%
	padding-bottom: 10px
	padding-top: 15px
	box-shadow: 0px 0px 1px 0px #000
.menuToggle
	display: none
.block-triangle
	&::before
		content: ""
		display: block
		position: absolute
		top: 0
		width: 0
		height: 0
		border-top: 50px solid transparent
		border-left: 100px solid $green-color
		border-bottom: 50px solid transparent
	&::after
		content: ""
		display: block
		position: absolute
		width: 0
		height: 0
		top: 0
		right: 0
		border-top: 50px solid transparent
		border-right: 100px solid $green-color
		border-bottom: 50px solid transparent
.callback-fixed
	position: fixed
	bottom: 10px
	right: 10px
	font-size: 72px
	display: block
	line-height: 1
	padding: 20px
	z-index: 100
.Phone
  position: relative
  display: block
  margin: 0
  width: 1em
  height: 1em
  font-size: 10vmin
  background-color: $green-color
  border-radius: 0.5em
  box-shadow: 0 0 0 0em rgba(#3498db, 0), 0em 0.05em 0.1em rgba(#000000, 0.2)
  transform: translate3d(0, 0, 0) scale(1)
  &::before, &::after
    position: absolute
    content: ""
  &::before
    top: 0
    left: 0
    width: 1em
    height: 1em
    background-color: rgba(#fff, 0.1)
    border-radius: 100%
    opacity: 1
    transform: translate3d(0, 0, 0) scale(0)
  &::after
    top: 0.25em
    left: 0.25em
    width: 0.5em
    height: 0.5em
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTYuNiAxMC44YzEuNCAyLjggMy44IDUuMSA2LjYgNi42bDIuMi0yLjJjLjMtLjMuNy0uNCAxLS4yIDEuMS40IDIuMy42IDMuNi42LjUgMCAxIC40IDEgMVYyMGMwIC41LS41IDEtMSAxLTkuNCAwLTE3LTcuNi0xNy0xNyAwLS42LjQtMSAxLTFoMy41Yy41IDAgMSAuNCAxIDEgMCAxLjIuMiAyLjUuNiAzLjYuMS40IDAgLjctLjIgMWwtMi4zIDIuMnoiIGZpbGw9IiNmZmZmZmYiLz48L3N2Zz4=)
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    transform: translate3d(0, 0, 0)
.is-animating
	animation: phone-outer 3000ms infinite
	&::before
	  animation: phone-inner 3000ms infinite
	&::after
	  animation: phone-icon 3000ms infinite

@keyframes phone-outer
  0%
    transform: translate3d(0, 0, 0) scale(1)
    box-shadow: 0 0 0 0em rgba($accent-color, 0), 0em 0.05em 0.1em rgba(#000000, 0.2)

  33.3333%
    transform: translate3d(0, 0, 0) scale(1.1)
    box-shadow: 0 0 0 0em rgba($accent-color, 0.1), 0em 0.05em 0.1em rgba(#000000, 0.5)

  66.6666%
    transform: translate3d(0, 0, 0) scale(1)
    box-shadow: 0 0 0 0.5em rgba($accent-color, 0), 0em 0.05em 0.1em rgba(#000000, 0.2)

  100%
    transform: translate3d(0, 0, 0) scale(1)
    box-shadow: 0 0 0 0em rgba($accent-color, 0), 0em 0.05em 0.1em rgba(#000000, 0.2)


@keyframes phone-inner
  0%
    opacity: 1
    transform: translate3d(0, 0, 0) scale(0)

  33.3333%
    opacity: 1
    transform: translate3d(0, 0, 0) scale(0.9)

  66.6666%
    opacity: 0
    transform: translate3d(0, 0, 0) scale(0)

  100%
    opacity: 0
    transform: translate3d(0, 0, 0) scale(0)


@keyframes phone-icon
  0%
    transform: translate3d(0em, 0, 0)

  2%
    transform: translate3d(0.01em, 0, 0)

  4%
    transform: translate3d(-0.01em, 0, 0)

  6%
    transform: translate3d(0.01em, 0, 0)

  8%
    transform: translate3d(-0.01em, 0, 0)

  10%
    transform: translate3d(0.01em, 0, 0)

  12%
    transform: translate3d(-0.01em, 0, 0)

  14%
    transform: translate3d(0.01em, 0, 0)

  16%
    transform: translate3d(-0.01em, 0, 0)

  18%
    transform: translate3d(0.01em, 0, 0)

  20%
    transform: translate3d(-0.01em, 0, 0)

  22%
    transform: translate3d(0.01em, 0, 0)

  24%
    transform: translate3d(-0.01em, 0, 0)

  26%
    transform: translate3d(0.01em, 0, 0)

  28%
    transform: translate3d(-0.01em, 0, 0)

  30%
    transform: translate3d(0.01em, 0, 0)

  32%
    transform: translate3d(-0.01em, 0, 0)

  34%
    transform: translate3d(0.01em, 0, 0)

  36%
    transform: translate3d(-0.01em, 0, 0)

  38%
    transform: translate3d(0.01em, 0, 0)

  40%
    transform: translate3d(-0.01em, 0, 0)

  42%
    transform: translate3d(0.01em, 0, 0)

  44%
    transform: translate3d(-0.01em, 0, 0)

  46%
    transform: translate3d(0em, 0, 0)

@import "media" // Always at the end
